
  <div class="container mt-5">

    <div class="row">
        <div class="col-md-12">
          <div class="back mb-3" routerLink="/home">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back 
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="title text-center">
             <h5>
                CURRENCY Details
             </h5>
                 <p class="mt-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Eos minus nihil aperiam inventore animi optio iste nesciunt 
                     
                 </p>
               
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <p>From:  <span>
                    {{ fromCurrency }}
                </span> </p>

             <!-- <app-historical-rates [fromCurrency]="fromCurrency"></app-historical-rates> -->
            </div>
        </div>

        <div class="col-md-12">
           <div class="row mb-5">
            <div class="col-md-6">
                <p>
                    Historical Rates From   <span>
                       {{ fromCurrency}}
                    </span> To other Currencies during the last year 
                </p> 
            </div>
            <div class="col-md-6 text-end">
                <div class="buttons">
                    <button class="btn history"  routerLink="/converter/historical-rates"  [queryParams]="{from: fromCurrency }" > see All History</button>
                </div>
            </div>
           </div>
                 <!--specific historical rates-->
<div class="hostorical-rates">
<table>
    <tr>
        <th>Currency</th>
        <th>Amount</th>
       
    </tr>
    <tr  *ngFor="let item of ratesList | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
    </tr>
  
</table>
</div>

        </div>
    </div>
  </div>
  
<p>,,,,,</p>


<app-currency-names></app-currency-names>